@import "../_default/index.css";

/* Custom properties */
:root {
  --brand-primary: #e95420;
  --brand-background-primary: #326de6;
}

.confheader {
  color: #fff;
  background-image: linear-gradient(
      to bottom left,
      rgba(21, 58, 138, 0.16) 0,
      rgba(21, 58, 138, 0.16) 49.9%,
      transparent 50%
    ),
    linear-gradient(
      to bottom right,
      rgba(50, 109, 230, 0.5) 0,
      rgba(50, 109, 230, 0.5) 49.9%,
      transparent 50%
    ),
    linear-gradient(
      to top left,
      white 0%,
      white 49.3%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(74deg, #173d8b 0%, #326de6 92%);
  background-blend-mode: multiply, multiply, normal, normal;
  background-position: top right, top left, right bottom -1px, left top;
  background-repeat: no-repeat;
  background-size: 74% 99.83%, 68% 91%, 103.8% 20.26%, 100% 99.8%;
}

.confTitle,
.confSubTitleContent {
  border-left-color: var(--brand-white);
}

.simpleTextAnnouncement {
  margin-bottom: 15ex;
}
