@import "../_default/index.css";

/* Custom properties */
:root {
  --brand-primary: #e95420;
  --brand-background-primary: #111;
}

.confheader {
  background: linear-gradient(
      to bottom left,
      rgba(216, 216, 216, 0.54) 0,
      rgba(216, 216, 216, 0.54) 49.9%,
      transparent 50%
    ),
    linear-gradient(
      to bottom right,
      rgba(228, 228, 228, 0.54) 0,
      rgba(228, 228, 228, 0.54) 49.9%,
      transparent 50%
    ),
    linear-gradient(
      to top left,
      white 0%,
      white 49.3%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(201deg, #4e4e4e 0%, #333 46%, #111 90%);
  background-blend-mode: multiply, multiply, normal, normal;
  background-position: top right, top left, right bottom -1px, left top;
  background-repeat: no-repeat;
  background-size: 74% 99.83%, 68% 91%, 103.8% 20.26%, 100% 99.8%;
  color: #fff;
}

.simpleTextAnnouncement {
  background-color: var(--brand-primary);
  color: var(--brand-background-primary);
  margin-bottom: 15ex;
}
