/* Style for the highlight buttons */

.i-button.highlight,
.i-button.highlight:not(.label):not(.borderless):not(.text-color),
.ui.primary.button {
  background: var(--button-green);
  border-color: var(--button-green);
  border-radius: 0.125rem;
  color: var(--brand-white) !important;
  font-weight: 300;
  line-height: 1.5rem;
  padding: calc(0.4rem - 1px) 1rem;
}

.i-button.highlight:not(.label):not(.borderless):not(.text-color):hover,
.ui.primary.button:hover {
  background: var(--button-green_hover);
  border-color: var(--button-green_hover);
  color: var(--brand-white);
  text-decoration: none;
}

.i-button.next::after {
  content: "";
}

.i-button.highlight.disabled,
.i-button.highlight:disabled {
  background: var(--button-green_hover) !important;
  border-color: var(--button-green_hover) !important;
  opacity: .33;
}

/* Style for standard buttons */

.i-button:not(.subtle),
.i-button:not(.label),
.ui.modal .actions .ui.button:not(.highlighted):not(.primary) {
  background: var(--brand-white);
  border: 1px solid rgba(0, 0, 0, 0.56);
  border-radius: 0.125rem;
  color: var(--brand-black);
  font-weight: 300;
  line-height: 1.5rem;
  padding: calc(0.4rem - 1px) 1rem;
}

.i-button:not(.subtle):hover,
.i-button:not(.label):hover,
.ui.modal .actions .ui.button:not(.highlighted):not(.primary):hover {
  background: var(--brand-white);
  background-color: var(--brand-off-white);
  border: 1px solid rgba(0, 0, 0, 0.56);
  color: var(--brand-black);
  box-shadow: none;
  text-decoration: none;
}

.ui-button {
  background: var(--brand-white) !important;
  color: var(--brand-black);
}

.ui-button:hover {
  background: var(--brand-off-white) !important;
  color: var(--brand-black);
}
