@import "../_default/index.css";

/* Custom properties */
:root {
  --brand-primary: #e95420;
  --brand-background-primary: #e95420;
}

/* Header background gradient */
.confheader {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 17%,
    rgba(233, 84, 32, 1) 98%
  );
}

/* Don't show subtitle, we add our own in the js */
.support_box,
.confSubTitleBox {
  display: none;
}

.confTitleBox {
  padding: 80px 20px;
}

@media screen and (max-width: 1250px) {
  .confTitleBox {
    padding: 40px 20px;
  }
}
