/* ---------- Styles for the main page content ---------- */

/* ---------- Style for the Infogrid container date/location/chairs etc ---------- */

.conferenceDetails .infogrid {
  margin-bottom: 2rem;
}
/* Date and time info */
.conferenceDetails .infoline {
  margin-top: 1.5rem;
  width: 100%;
}

.conferenceDetails .infoline,
.conferenceDetails .infoline time {
  font-size: 1rem;
}

.conferenceDetails .infoline span.icon-time {
  display: none;
}

.conferenceDetails .infoline.date time {
  margin-left: 8rem;
}

.conferenceDetails .infoline.date div.text span.label {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 2px;
  width: 0;
  text-transform: uppercase;
}

.conferenceDetails .infoline.date div.text div {
  margin-bottom: 0.5rem;
}

.conferenceDetails .infoline.date div.text .timezone {
  font-size: 1rem;
  margin-left: 132px;
}

/* Location info */
.conferenceDetails .infoline.location span {
  display: none;
}

.conferenceDetails .infoline.location:before {
  content: "Location";
  font-family: Ubuntu, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 2px;
  width: 0;
  text-transform: uppercase;
}

.conferenceDetails .infoline.location div.text {
  margin-left: 8rem;
}

.conferenceDetails .infoline.location div.text div {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

/* Chairperson info */
.conferenceDetails .infoline.chairs span {
  display: none;
}

.conferenceDetails .infoline.chairs:before {
  content: "Chairs";
  font-family: Ubuntu, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 2px;
  width: 0;
  text-transform: uppercase;
}

.conferenceDetails .infoline.chairs .chair_list {
  margin-left: 8rem;
}

/* Attach documents */
.conferenceDetails .infoline.material-list span.icon-attachment {
  display: none;
}

.conferenceDetails .infoline.material-list:before {
  content: "Resources";
  font-family: Ubuntu, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  width: 0;
  text-transform: uppercase;
}

.conferenceDetails .infoline.material-list .attachments-box {
  margin-left: 8rem;
}

/* Attach materials button */
.i-button.text-color:not(.color-on-hover) {
  color: var(--brand-warm-grey);
}

.i-button.text-color:not(.color-on-hover):hover {
  background: none;
  border: none;
  color: #333333;
}

/* CTA's at bottom of page */
.conferenceDetails .action-box.highlight {
  box-shadow: none;
  border-top: 1px solid var(--brand-warm-grey);
  margin-bottom: 2rem;
  padding: 1rem 0 0 0;
}

.conferenceDetails .action-box.highlight .section {
  display: block;
}

.conferenceDetails .action-box.highlight .label {
  display: inline-block;
  font-size: 1.706rem;
  font-weight: 100;
  line-height: 2rem;
  margin-bottom: 0.95rem;
  padding-top: 0.051rem;
}

.conferenceDetails .action-box.highlight .toolbar {
  padding: 0;
  margin-top: 1rem;
}

/* Attach materials button */
.i-button.text-color:not(.color-on-hover) {
  color: var(--brand-warm-grey);
}

.i-button.text-color:not(.color-on-hover):hover {
  background: none;
  border: none;
  color: #333333;
}


/* ---------- Media queries ---------- */

@media screen and (max-width: 550px) {
  .infoline.date,
  .infoline.location,
  .infoline.chairs,
  .infoline.material {
    width: 100%;
  }
}

@media screen and (max-width: 1250px) {
  .confBodyBox {
    margin-left: 0 !important;
  }
}
