/* ----------- Styles for the main content ----------- */

/*
The wrapper around the menu and the page content.
By default centered with a fix width.
*/
#confSectionsBox {
  width: 950px;
  margin: 0 auto;
  padding: 64px 0;
}

/*
Wrapper around the content
*/
.confBodyBox {
  margin-left: 252px;
}

/*
The content container
*/
.conferenceDetails .description {
  margin: 0;
}

/*
Date and time info
*/
.infoline .label {
  font-weight: 400;
}
/*
Registration call-out box
*/
.action-box.highlight {
  border: none;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 15%), 0 2px 2px -1px rgb(0 0 0 / 15%), 0 0 3px 0 rgb(0 0 0 / 20%);
}

.icon-ticket::before {
  color: #E95420;
}

.toolbar .i-button:not(.label) {
  font-weight: 300;
}

.i-button.highlight:not(.label):not(.borderless):not(.text-color) {
  background: #0e8420;
  color: #fff;
  border: #0e8420;
}

.i-button.next::after {
  content: '';
}

/*
Responsive
*/
@media screen and (max-width: 920px) {
  .confBodyBox {
    width: 400px;
  }
}

