/* ---------- Styles for the participation list ---------- */

.i-table.tablesorter-headerRow {
  background-color: var(--brand-white);
  color: var(--brand-black);
  text-transform: uppercase;
  font-size: 0.75rem;
}

.i-table.tablesorter-header.tablesorter-headerUnSorted,
.i-table.tablesorter-header.tablesorter-headerAsc.header-sort-asc,
.i-table.tablesorter-header.tablesorter-headerDesc.header-sort-desc {
  background-color: var(--brand-white);
}

.i-table.tablesorter-header:hover {
  background-color: var(--brand-off-white);
}
