@import "../_default/index.css";

/* Custom properties */
:root {
  --brand-primary: #e95420;
}

.confheader {
  background-color: #000;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 17%, rgba(233, 84, 32, 1) 98%);
  /* TODO needs the other light gradient stripe */
}
